@charset "UTF-8";

@media screen and (min-width: 1200px) {

    body, html{
        background-image: linear-gradient(to bottom, #535BCE, #6FA3E1, #A8BEEA);
    }

    section#login > div#img{
        float: left;
        height: 100%;
        width: 35%;
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-size: cover;

    }


    section#login{
        position: absolute;
        width: 80vw;
        height: 50vh;
        background-color: aliceblue;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    }

    input#iusu{
        height: 3vh;
        border-radius: 10px;
        width: 45vw;
        border: 1px solid rgb(68, 74, 170);
    }
    
    
    input#isen{
        height: 3vh;
        border-radius: 10px;
        width: 45vw;
        border: 1px solid rgb(68, 74, 170);
    }
    
    input#ent{
        width: 48vw;
        height: 3vh;
        margin-top: 5px;
    
    }
    
    a{
        width: 48vw;
        height: 3vh;
        margin: auto;
        margin-top: 5px;
        margin-right: 24px;
    }
    
    a > p{
        font-size: medium;
        text-align: center;
        margin-top: 2px;
    }
}
    
}